@model FirstASPMvc.Models.Category

@{
    ViewData["Title"] = "Categorias";
}

<h1>Deletar</h1>

<br>

<h4>Deseja deletar ? </h4>
<form asp-action="Delete">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <p>@Model.Descricao</p>
        <div class="form-group">
            <input type="submit" value="Deletar" class="btn btn-primary" />
        </div>
</form>
